name: Deploy to DigitalOcean Kubernetes

on:
  push:
    branches:
      - main
      - acejarvis/fix-deploy
    paths:
      - 'backend/**'
      - 'frontend/**'
      - 'k8s/**'
      - '.github/workflows/**'

jobs:
  build-and-deploy:  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@main

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Deploy
        run: |
          # create .env.deploy file for k8s manifests

          echo "DIGITALOCEAN_ACCESS_TOKEN=${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}" >> .env.deploy
          echo "DO_REGISTRY_NAME=${{ secrets.DO_REGISTRY_NAME }}" >> .env.deploy
          echo "DO_CLUSTER_ID=${{ secrets.DO_CLUSTER_ID }}" >> .env.deploy
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env.deploy
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env.deploy

          chmod +x ./deploy.sh
          ./deploy.sh
