name: Deploy to DigitalOcean Kubernetes

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'frontend/**'
      - 'do-k8s/**'
      - '.github/workflows/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@main

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DigitalOcean Container Registry with short-lived credentials
        run: doctl registry login --expiry-seconds 1200

      - name: Build and Push Backend Image
        run: |
          docker build -t registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-backend:$(echo $GITHUB_SHA | head -c7) ./backend
          docker push registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-backend:$(echo $GITHUB_SHA | head -c7)

      - name: Build and Push Frontend Image
        run: |
          docker build -t registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-frontend:$(echo $GITHUB_SHA | head -c7) ./frontend
          docker push registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-frontend:$(echo $GITHUB_SHA | head -c7)

      - name: Build and Push DB Image
        run: |
          docker build -t registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-db:$(echo $GITHUB_SHA | head -c7) ./backend/database
          docker push registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-db:$(echo $GITHUB_SHA | head -c7)

      - name: Update deployment files
        run: |
          TAG=$(echo $GITHUB_SHA | head -c7)
          sed -i 's|<BACKEND_IMAGE>|registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-backend:'${TAG}'|' $GITHUB_WORKSPACE/do-k8s/backend.yaml
          sed -i 's|<FRONTEND_IMAGE>|registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-frontend:'${TAG}'|' $GITHUB_WORKSPACE/do-k8s/frontend.yaml
          sed -i 's|<DB_IMAGE>|registry.digitalocean.com/${{ secrets.DO_REGISTRY_NAME }}/cash-or-card-db:'${TAG}'|' $GITHUB_WORKSPACE/do-k8s/postgres.yaml

      - name: Save DigitalOcean kubeconfig with short-lived credentials
        run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 do-tor1-k8s-cash-or-card

      - name: Deploy to DigitalOcean Kubernetes
        run: |
          kubectl apply -f $GITHUB_WORKSPACE/do-k8s/configmap.yaml
          kubectl apply -f $GITHUB_WORKSPACE/do-k8s/secrets.yaml
          kubectl apply -f $GITHUB_WORKSPACE/do-k8s/postgres.yaml
          kubectl apply -f $GITHUB_WORKSPACE/do-k8s/backend.yaml
          kubectl apply -f $GITHUB_WORKSPACE/do-k8s/frontend.yaml

      - name: Verify deployment
        run: |
          kubectl rollout status deployment/backend
          kubectl rollout status deployment/frontend
          kubectl rollout status deployment/postgres
